<p style="color: green"><%= notice %></p>

<div class="container mt-3">

</div>
<h1>Flats</h1>

<div id="flats" class="row">
  <% @flats.each do |flat| %>

    <%= render flat %>
  <% end %>
</div>


