<div class="row">
<div class="col-6 m-auto">
<div class="container mt-4">
<div class="flat-form">

<h1>New flat</h1>

<%= render "form", flat: @flat %>

<br>

<div>
  <%= link_to "Back to flats", flats_path %>
</div>
</div>
</div>
</div>
</div>
